.sudoku-board {
  /* border-radius:20px; */
  display: flex;
  flex-wrap: wrap;
  padding:20px;
}

.sudoku-element{
  position: relative;
  width:60px;
  height:60px;
  margin:6px;
  border-radius: 7px;
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  /* padding:4px; */
  overflow: hidden;
  transition:.5s ease-in-out;
}

/* individual option */
.sudoku-option{
  position: relative;
  width:17px;
  height: 17px;
  margin:1.5px;
  border-radius: 5px;
  font-size: 10px;
  opacity:1;
  transition:.5s ease-in-out;
}

.sudoku-options{
  background-color:#eee;
  padding:5px;
}
