.sudoku-container {
  display: flex;
  flex-wrap: wrap;
  background-color:rgb(235, 235, 235);
  padding:20px;
  border-radius:30px;
}

.sudoku-board {
  width:648px;
  margin:0px 30px 0px 0px;
  position: relative;
  background-color: rgb(255, 255, 255);
  border-radius:20px;
  display: flex;
  flex-wrap: wrap;
  padding:10px;
}

.sudoku-element{
  position: relative;
  width:60px;
  height:60px;
  margin:6px;
  border-radius: 7px;
  background-color: rgb(233, 233, 233);
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  /* padding:4px; */
  overflow: hidden;
  transition:.5s ease-in-out;
}

/* individual option */
.sudoku-option{
  position: relative;
  width:17px;
  height: 17px;
  margin:1.5px;
  border-radius: 5px;
  font-size: 10px;
  opacity:1;
  transition:.5s ease-in-out;
}

.sudoku-options{
  background-color:#eee;
  padding:5px;
}

.sudoku-buttons{
  /* padding: 10px; */
  display: flex;
  flex-wrap: wrap;
  /* background-color:rgb(235, 235, 235); */
  background-color: lightgrey;
  padding:20px;
  border-radius:30px;
}

.sudoku-button{
  border-radius: 10px;
  width: 120px;
  height: 60px;
  align-items: center;
  justify-content: center;
  display: flex;
  transition:.5s ease-in-out;
  background-color: cyan;
  margin: 10px;
}